<ion-view>
  <ion-content style="margin-top: 20px;">
    <div class="row center-top row-center">
      <div class="col">
        <img ng-src="user.ava" alt="">
        <p>{{ user.name }}</p>
        <p>{{ user.tel }}</p>
      </div>
      <div class="col">
        <img ng-src="user.ava" alt="">
        <p>{{ user.name }}</p>
        <p>{{ user.tel }}</p>
      </div>
    </div>
    <div class="list center-list">
      <a class="item item-icon-left item-icon-right" href="#/yinhangka">
        <i class="icon ion-card"></i>
        我绑定的银行卡
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/lishi">
        <i class="icon ion-email"></i>
        我的历史行程
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/ziliao">
        <i class="icon ion-ios-clock"></i>
        修改资料
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/gonggao">
        <i class="icon ion-chatbubble-working"></i>
        系统公告
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/contact">
        <i class="icon ion-email"></i>
        联系我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
